<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main class="container my-4">
        <div class="row g-4">
            <% productos.forEach(function(p) { %>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="card h-100 shadow-sm">
                        <img src="https://static.netshoes.com.br/produtos/camiseta-puma-small-n-1-logo-masculina/06/PI3-5716-006/PI3-5716-006_zoom1.jpg?ts=1783995483&ims=1088x" class="card-img-top p-3" style="height: 200px; object-fit: contain;">
                        <div class="card-body">
                            <h4 class="card-title">
                                <%=p.nombre%>
                            </h4>
                            <span>Precio:<p class="card-text"><%=p.precio%></p></span>
                            <button class="btn btn-primary">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>